USE [ASFRA-DEV]
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertHistSltData]    Script Date: 9/20/2017 1:29:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






ALTER PROCEDURE [dbo].[sp_InsertHistSltData]
	@AppID int
	AS
BEGIN

	

	DECLARE @WK_ADD INT


	/* ASSIGN VALUES TO WK_ADD VARIABLE SO THAT IT CAN USED LATER FOR ESTIMATED START TIME FOR NEXT WEEK END */

	IF UPPER(DATENAME(DW,CAST(GETDATE() AS DATE))) = 'MONDAY'
	BEGIN 
		SET @WK_ADD = 0
	END
	ELSE IF UPPER(DATENAME(DW,CAST(GETDATE() AS DATE))) = 'TUESDAY'
	BEGIN 
		SET @WK_ADD = -1
	END
	ELSE IF UPPER(DATENAME(DW,CAST(GETDATE() AS DATE))) = 'TUESDAY'
	BEGIN 
		SET @WK_ADD = 5
	END
	ELSE IF UPPER(DATENAME(DW,CAST(GETDATE() AS DATE))) = 'WEDNESDAY'
	BEGIN 
		SET @WK_ADD = 4
	END
	ELSE IF UPPER(DATENAME(DW,CAST(GETDATE() AS DATE))) = 'THURSDAY'
	BEGIN 
		SET @WK_ADD = 3
	END
	ELSE IF UPPER(DATENAME(DW,CAST(GETDATE() AS DATE))) = 'FRIDAY'
	BEGIN 
		SET @WK_ADD = 2
	END
	ELSE 
	BEGIN
		SET @WK_ADD = 0
	END

/*
-----------------------------------------------------------------------------------------
Procedure:              dbo.sp_InsertHistSltData
Description:            Load Tidal Slt data into Hist_Tida SLT data from configuration and tidal tables and loads into the History table.
Created by:             Suresh Sakthivel <ssakthi2>
Created date:           5/23/2017
Version:                1.0
-----------------------------------------------------------------------------------------
CHANGE HISTORY:
-----------------------------------------------------------------------------------------
Release 
Ver.     Date              Modified By                      Decription 
-----------------------------------------------------------------------------------------
10.2.0  5/23/2017      Suresh Sakthivel <ssakthi2>    Changes done for 2017 App Support Renewal
*/
SET NOCOUNT ON;

--------------------------------------------------------------------------------------------
-- Get list of all Job details and estimated time from conifguration table and actual time from the Tidal table. 


		SELECT 
			FNL.APPID,
			FNL.JOB_ID,
			FNL.JOBNAME,
			FNL.CATEGORY,
			FNL.FREQUENCY,
			FNL.STATUS,
			CASE WHEN UPPER(FNL.FREQUENCY) = 'MONTHLY' AND CAST(FNL.ESTIMATEDSTARTTIME AS DATE) = CAST(GETDATE() AS DATE)
			THEN
			 FNL.ESTIMATEDSTARTTIME

			/* IF ES_STARTDATE IS < TODAY'S DATE THEN ES_STARTDATE SHOULD BE NEXT MONTH'S DAY */
			WHEN UPPER(FNL.FREQUENCY) = 'MONTHLY' AND CAST(FNL.ESTIMATEDSTARTTIME AS DATE) < CAST(GETDATE() AS DATE)
				THEN
					DATEADD(MONTH,1,FNL.ESTIMATEDSTARTTIME)
				ELSE
					FNL.ESTIMATEDSTARTTIME
			END AS ESTIMATEDSTARTTIME ,

			/*CALCULATING ESTIMATEDENDTIME WHEN FRQUENCY = 'MONTHLY' AND EST_STARTIME IS TODAY'S DATE */
			CASE WHEN UPPER(FNL.FREQUENCY) = 'MONTHLY' AND CAST(FNL.ESTIMATEDSTARTTIME AS DATE) = CAST(GETDATE() AS DATE)
				THEN
					DATEADD(SECOND,
						CAST(
							SUBSTRING(CAST(FNL.C_DURATION AS VARCHAR),CHARINDEX(':',FNL.C_DURATION,5)+1,2) AS INT),
					DATEADD(MINUTE,
							CAST(SUBSTRING(CAST(FNL.C_DURATION AS VARCHAR),CHARINDEX(':',FNL.C_DURATION,1)+1,CHARINDEX(':',FNL.C_DURATION,4)-CHARINDEX(':',FNL.C_DURATION,1)-1) AS BIGINT),
					DATEADD(HOUR,
							CAST(SUBSTRING(CAST(FNL.C_DURATION AS VARCHAR),1,CHARINDEX(':',FNL.C_DURATION,1)-1) AS BIGINT),
					FNL.ESTIMATEDSTARTTIME)))

			/*CALCULATING ESTIMATEDENDTIME WHEN FRQUENCY = 'MONTHLY' AND EST_STARTIME IS LESS THAN TODAY'S DATE */
			WHEN UPPER(FNL.FREQUENCY) = 'MONTHLY' AND CAST(FNL.ESTIMATEDSTARTTIME AS DATE) < CAST(GETDATE() AS DATE)
			   THEN
					DATEADD(MONTH,1,DATEADD(SECOND,
						CAST(
							SUBSTRING(CAST(FNL.C_DURATION AS VARCHAR),CHARINDEX(':',FNL.C_DURATION,5)+1,2) AS INT),
					DATEADD(MINUTE,
							CAST(SUBSTRING(CAST(FNL.C_DURATION AS VARCHAR),CHARINDEX(':',FNL.C_DURATION,1)+1,CHARINDEX(':',FNL.C_DURATION,4)-CHARINDEX(':',FNL.C_DURATION,1)-1) AS BIGINT),
					DATEADD(HOUR,
							CAST(SUBSTRING(CAST(FNL.C_DURATION AS VARCHAR),1,CHARINDEX(':',FNL.C_DURATION,1)-1) AS BIGINT),
				FNL.ESTIMATEDSTARTTIME))))

			ELSE
					DATEADD(SECOND,
				CAST(
							SUBSTRING(CAST(FNL.C_DURATION AS VARCHAR),CHARINDEX(':',FNL.C_DURATION,5)+1,2) AS INT),
					DATEADD(MINUTE,
							CAST(SUBSTRING(CAST(FNL.C_DURATION AS VARCHAR),CHARINDEX(':',FNL.C_DURATION,1)+1,CHARINDEX(':',FNL.C_DURATION,4)-CHARINDEX(':',FNL.C_DURATION,1)-1) AS BIGINT),
					DATEADD(HOUR,
							CAST(SUBSTRING(CAST(FNL.C_DURATION AS VARCHAR),1,CHARINDEX(':',FNL.C_DURATION,1)-1) AS BIGINT),
					FNL.ESTIMATEDSTARTTIME))) END AS ESTIMATEDENDTIME,
			
			/*CALCULATING ACTUAL START TIME  */

			CASE WHEN @AppID = 5 AND UPPER(FNL.FREQUENCY) = 'WEEKLY'
				THEN
					FNL.ACTUALSTARTTIME
				 WHEN @AppID = 8 AND UPPER(FNL.FREQUENCY) = 'WEEKLY'
				THEN
					FNL.ACTUALSTARTTIME
			WHEN CAST(FNL.ESTIMATEDSTARTTIME AS DATE) = CAST(GETDATE() AS DATE) 
				THEN
					FNL.ACTUALSTARTTIME 
			WHEN CAST(FNL.ESTIMATEDSTARTTIME AS DATE) <> CAST(GETDATE() AS DATE) AND UPPER(FNL.FREQUENCY) = 'DAILY' 
				THEN 
					FNL.ACTUALSTARTTIME
			WHEN CAST(FNL.ESTIMATEDSTARTTIME AS DATE) <> CAST(GETDATE() AS DATE) AND UPPER(FNL.FREQUENCY) = 'WEEKDAY' AND (UPPER(DATENAME(DW,CAST(GETDATE() AS DATE))) NOT IN ('SUNDAY','MONDAY'))
				THEN 
					FNL.ACTUALSTARTTIME 
			WHEN CAST(FNL.ESTIMATEDSTARTTIME AS DATE) <> CAST(GETDATE() AS DATE) AND UPPER(FNL.FREQUENCY) = 'WEEKEND' AND (UPPER(DATENAME(DW,CAST(GETDATE() AS DATE))) IN ('SUNDAY','MONDAY'))
			--FNL.DAY_VAL = 7 OR FNL.DAY_VAL = 6
				THEN 
					FNL.ACTUALSTARTTIME 
			ELSE NULL END ACTUALSTARTTIME,

			/* CALCULATING ACTUAL END TIME */

			CASE
			 WHEN @AppID = 5 AND UPPER(FNL.FREQUENCY) = 'WEEKLY'
				THEN
					FNL.ACTUALENDTIME
				 WHEN @AppID = 8 AND UPPER(FNL.FREQUENCY) = 'WEEKLY'
				THEN
					FNL.ACTUALENDTIME	
			
			WHEN CAST(FNL.ESTIMATEDSTARTTIME AS DATE) = CAST(GETDATE() AS DATE)
				THEN	
					FNL.ACTUALENDTIME
			WHEN CAST(FNL.ESTIMATEDSTARTTIME AS DATE) <> CAST(GETDATE() AS DATE) AND UPPER(FNL.FREQUENCY) = 'DAILY' 
				THEN
					FNL.ACTUALENDTIME
			WHEN CAST(FNL.ESTIMATEDSTARTTIME AS DATE) <> CAST(GETDATE() AS DATE) AND UPPER(FNL.FREQUENCY) = 'WEEKDAY' AND (UPPER(DATENAME(DW,CAST(GETDATE() AS DATE))) NOT IN ('SUNDAY','MONDAY'))
				THEN
					FNL.ACTUALENDTIME
			WHEN CAST(FNL.ESTIMATEDSTARTTIME AS DATE) <> CAST(GETDATE() AS DATE) AND UPPER(FNL.FREQUENCY) = 'WEEKEND'  AND (UPPER(DATENAME(DW,CAST(GETDATE() AS DATE))) IN ('SUNDAY','MONDAY'))
				THEN
					FNL.ACTUALENDTIME
			ELSE NULL END ACTUALENDTIME,
			FNL.SLT_LOADDATE_TIME,
			FNL.BUSINESS_DELIVERABLE

			INTO #INTER_DATA
			FROM(

					SELECT
						DRVD.APPID, 
						DRVD.JOBNAME,
						DRVD.CATEGORY,
						DRVD.FREQUENCY,
						DRVD.STATUS,
						UPPER(DRVD.FREQUENCY) FREQ,
						DRVD.DAY_VAL_CNFG CDAY,
						DRVD.DAY_VAL TDAY,
	      				CASE WHEN  UPPER(DRVD.FREQUENCY) = 'WEEKLY' OR DRVD.DAY_VAL_CNFG = DRVD.DAY_VAL
								 THEN 1
								 ELSE 0 END
								 VAL_CHECK,

						/*CALCULATING ESTIMATEDSTARTTIME FOR DAILY*/	
						CASE WHEN UPPER(DRVD.FREQUENCY) = 'DAILY'
							     THEN 
									DATEADD(DAY,DRVD.RUN_DAY,DRVD.ESTIMATEDSTARTTIME)
							 
						/*CALCULATING ESTIMATEDSTARTTIME FOR WEEKDAY*/

							WHEN UPPER(DRVD.FREQUENCY) = 'WEEKDAY' AND UPPER(DATENAME(DW,CAST(GETDATE() AS DATE))) NOT IN ('SUNDAY','MONDAY')
							     THEN 
									DATEADD(DAY,DRVD.RUN_DAY,DRVD.ESTIMATEDSTARTTIME)
							
							WHEN UPPER(DRVD.FREQUENCY) = 'WEEKDAY' AND UPPER(DATENAME(DW,CAST(GETDATE() AS DATE))) = 'SUNDAY'
							     THEN 
									DATEADD(DAY,3,DATEADD(DAY,DRVD.RUN_DAY,DRVD.ESTIMATEDSTARTTIME))
							
							WHEN UPPER(DRVD.FREQUENCY) = 'WEEKDAY' AND UPPER(DATENAME(DW,CAST(GETDATE() AS DATE))) = 'MONDAY'
							     THEN 
									DATEADD(DAY,2,DATEADD(DAY,DRVD.RUN_DAY,DRVD.ESTIMATEDSTARTTIME))

						/*CALCULATING ESTIMATEDSTARTTIME FOR WEEKEND*/

							WHEN UPPER(DRVD.FREQUENCY) = 'WEEKEND' AND UPPER(DATENAME(DW,CAST(GETDATE() AS DATE))) IN ('SUNDAY','MONDAY')
							     THEN 
									DATEADD(DAY,@WK_ADD,DATEADD(DAY,DRVD.RUN_DAY,DRVD.ESTIMATEDSTARTTIME))

							WHEN UPPER(DRVD.FREQUENCY) = 'WEEKEND' AND UPPER(DATENAME(DW,CAST(GETDATE() AS DATE))) NOT IN ('SUNDAY','MONDAY')
							     THEN 
									DATEADD(DAY,@WK_ADD,DATEADD(DAY,DRVD.RUN_DAY,DRVD.ESTIMATEDSTARTTIME))

						/*CALCULATING ESTIMATEDSTARTTIME FOR WEEKLY WHEN APPID = 8 */
							WHEN UPPER(DRVD.FREQUENCY) = 'WEEKLY' AND @APPID = 8
								 THEN
							   		DATEADD(DAY,DRVD.RUN_DAY,DRVD.ESTIMATEDSTARTTIME)

					    /*CALCULATING ESTIMATEDSTARTTIME FOR WEEKLY AND DAY FROM CONFIG IS TODAY*/
							 WHEN UPPER(DRVD.FREQUENCY) = 'WEEKLY' AND DRVD.DAY_VAL_CNFG = DRVD.DAY_VAL
								 THEN
							   		DATEADD(DAY,DRVD.RUN_DAY,DRVD.ESTIMATEDSTARTTIME)
							
						/*CALCULATING ESTIMATEDSTARTTIME FOR WEEKLY AND DAY FROM CONFIG IS GREATER THAN TODAY*/
							 WHEN UPPER(DRVD.FREQUENCY) = 'WEEKLY' AND DRVD.DAY_VAL_CNFG > DRVD.DAY_VAL
							     THEN
									   
									DATEADD(DAY,DRVD.RUN_DAY,DATEADD(DAY,DRVD.DAY_VAL_CNFG-DRVD.DAY_VAL,		   
											DRVD.ESTIMATEDSTARTTIME))

						/*CALCULATING ESTIMATEDSTARTTIME FOR WEEKLY AND DAY FROM CONFIG IS LESS THAN TODAY*/
							 WHEN UPPER(DRVD.FREQUENCY) = 'WEEKLY' AND DRVD.DAY_VAL_CNFG < DRVD.DAY_VAL
							     THEN 
									
									DATEADD(DAY,DRVD.RUN_DAY,DATEADD(DAY,(DRVD.DAY_VAL_CNFG - DRVD.DAY_VAL)+7,DRVD.ESTIMATEDSTARTTIME))			

						/*CALCULATING ESTIMATEDSTARTTIME FOR MONTHLY AND DAY FROM CONFIG IS REFERRING TO PARTICULAR DATE OF A MONTH*/					
						     WHEN UPPER(DRVD.FREQUENCY) = 'MONTHLY' AND LEN(DRVD.DAY) > 5
						         THEN
						             DATEADD(SECOND,CAST
															(SUBSTRING(CAST(DRVD.ESTT AS VARCHAR),7,2) AS BIGINT),
															 /*MINUTES ADDED */															
															DATEADD(MINUTE,CAST(SUBSTRING(CAST(DRVD.ESTT AS VARCHAR),4,CHARINDEX(':',DRVD.ESTT,1)-1) AS BIGINT),
															/* HOURS ADDED */
															DATEADD(HOUR,CAST
																			(SUBSTRING(CAST(DRVD.ESTT AS VARCHAR),1,CHARINDEX(':',DRVD.ESTT,1)-1) AS BIGINT),
															CAST(CONCAT(CAST( DRVD.FREQ_DATE AS VARCHAR),' ','00',':','00',':','00') AS DATETIME))										
															))						

							 /*CALCULATING ESTIMATEDSTARTTIME FOR MONTHLY AND DAY FROM CONFIG IS C+N */
							 WHEN UPPER(DRVD.FREQUENCY) = 'MONTHLY' AND LEN(DRVD.DAY) <= 5 AND SUBSTRING(DRVD.DAY,1,1) = 'C'
						         THEN 
												DATEADD(SECOND,CAST
															(SUBSTRING(CAST(DRVD.ESTT AS VARCHAR),7,2) AS BIGINT),
															 /*MINUTES ADDED */															
															DATEADD(MINUTE,CAST(SUBSTRING(CAST(DRVD.ESTT AS VARCHAR),4,CHARINDEX(':',DRVD.ESTT,1)-1) AS BIGINT),
															/* HOURS ADDED */
															DATEADD(HOUR,CAST
																			(SUBSTRING(CAST(DRVD.ESTT AS VARCHAR),1,CHARINDEX(':',DRVD.ESTT,1)-1) AS BIGINT),
															CAST(CONCAT(CAST( DRVD.CALCU_C AS VARCHAR),' ','00',':','00',':','00') AS DATETIME))										
															))

							 /*CALCULATING ESTIMATEDSTARTTIME FOR MONTHLY AND DAY FROM CONFIG IS G+N */
							 WHEN UPPER(DRVD.FREQUENCY) = 'MONTHLY' AND LEN(DRVD.DAY) <= 5 AND SUBSTRING(DRVD.DAY,1,1) = 'G'
						         THEN 
							 					DATEADD(SECOND,CAST
							 								(SUBSTRING(CAST(DRVD.ESTT AS VARCHAR),7,2) AS BIGINT),
							 								 /*MINUTES ADDED */															
							 								DATEADD(MINUTE,CAST(SUBSTRING(CAST(DRVD.ESTT AS VARCHAR),4,CHARINDEX(':',DRVD.ESTT,1)-1) AS BIGINT),
															/* HOURS ADDED */
															DATEADD(HOUR,CAST
																			(SUBSTRING(CAST(DRVD.ESTT AS VARCHAR),1,CHARINDEX(':',DRVD.ESTT,1)-1) AS BIGINT),
															CAST(CONCAT(CAST( DRVD.CALCU_G AS VARCHAR),' ','00',':','00',':','00') AS DATETIME))										
															))
							 /*CALCULATING ESTIMATEDSTARTTIME FOR BI WEEKLY AND 1ST DATE PART OF DAY FROM CONFIG IS GREATER THAN CURRENTDATE */
							 WHEN UPPER(DRVD.FREQUENCY) = 'BI WEEKLY' 
								   AND CAST(SUBSTRING(DRVD.BW_EDT,1,CHARINDEX(',',DRVD.BW_EDT)-1) AS DATE) >= CAST(GETDATE() AS DATE)
								  THEN
								
								               CAST(CONCAT(CAST(CAST(SUBSTRING(DRVD.BW_EDT,1,CHARINDEX(',',DRVD.BW_EDT)-1) AS DATE) AS VARCHAR),' ','00',':','00',':','00') AS DATETIME)

							 /*CALCULATING ESTIMATEDSTARTTIME FOR BI WEEKLY AND 1ST DATE PART OF DAY FROM CONFIG IS LESS THAN CURRENTDATE AND 2ND PART OF DATE IS GREATER THAN CURRENTDATE*/
							 WHEN UPPER(DRVD.FREQUENCY) = 'BI WEEKLY'
								AND CAST(SUBSTRING(DRVD.BW_EDT,1,CHARINDEX(',',DRVD.BW_EDT)-1) AS DATE) < CAST(GETDATE() AS DATE) AND CAST(SUBSTRING(DRVD.BW_EDT,CHARINDEX(',',DRVD.BW_EDT)+1,
								LEN(DRVD.BW_EDT) - CHARINDEX(',',DRVD.BW_EDT)) AS DATE) >= CAST(GETDATE() AS DATE)
								THEN
								CAST(CONCAT(CAST(SUBSTRING(DRVD.BW_EDT,CHARINDEX(',',DRVD.BW_EDT)+1,LEN(DRVD.BW_EDT)- CHARINDEX(',',DRVD.BW_EDT)) AS VARCHAR),' ','00',':','00',':','00') AS DATETIME)

							 /*CALCULATING ESTIMATEDSTARTTIME FOR BI WEEKLY AND 1ST AND 2ND DATE PARTS OF DAY COLUMN FROM CONFIG IS LESS THAN CURRENTDATE */
							 WHEN UPPER(DRVD.FREQUENCY) = 'BI WEEKLY'
								AND CAST(SUBSTRING(DRVD.BW_EDT,CHARINDEX(',',DRVD.BW_EDT)+1,
								LEN(DRVD.BW_EDT)- CHARINDEX(',',DRVD.BW_EDT)) AS DATE) < CAST(GETDATE() AS DATE)
								THEN
								DATEADD(MONTH,1,CAST(CONCAT(CAST(CAST(SUBSTRING(DRVD.BW_EDT,1,CHARINDEX(',',DRVD.BW_EDT)-1) AS DATE) AS VARCHAR),' ','00',':','00',':','00') AS DATETIME))

							 ELSE '' END  AS ESTIMATEDSTARTTIME,
							 DRVD.ACTUALSTARTTIME,
							 DRVD.ACTUALENDTIME,
							 DRVD.SLT_LOADDATE_TIME ,
							 DRVD.C_DURATION,
 							 DRVD.DAY_VAL_CNFG,
							 DRVD.DAY_VAL,
							 DRVD.DAY_ADD_VAL,
							 DRVD.DAY,
							 DRVD.FREQ_DATE,
							 DRVD.Business_Deliverable,
							 CASE WHEN DRVD.DAY_VAL_CNFG > DRVD.DAY_VAL
							 THEN
							 DRVD.DAY_VAL_CNFG - DRVD.DAY_VAL
							 WHEN DRVD.DAY_VAL_CNFG < DRVD.DAY_VAL
							 THEN
							 (DRVD.DAY_VAL_CNFG+7)-DRVD.DAY_VAL
							 ELSE
							 0 END DAY_ADDD,
							 DRVD.RUN_DAY,
							 DRVD.JOB_ID
							 FROM 
								(
										SELECT 
												CNFG.APPID,
												CNFG.JOBNAME,
												CNFG.DAY,
												CNFG.CATEGORY,
												CNFG.FREQUENCY,
												TID_END_JB.STATUS,
												CNFG.DURATION AS C_DURATION,
												CNFG.ESTIMATEDSTARTTIME ESTT,
												TID_END_JB.ACTUALSTARTTIME ACTST,
												TID_END_JB.ACTUALDURATION,
												/* ADDING HOUR TO THE ESTIMATEDSTARTTIME FROM THE DURATION COLUMN IN CONFIG TABLE */
												/*SECONDS ADDED */
												DATEADD(SECOND,CAST
															(SUBSTRING(CAST(CNFG.ESTIMATEDSTARTTIME AS VARCHAR),7,2) AS BIGINT),
															 /*MINUTES ADDED */															
															DATEADD(MINUTE,CAST(SUBSTRING(CAST(CNFG.ESTIMATEDSTARTTIME AS VARCHAR),4,CHARINDEX(':',CNFG.ESTIMATEDSTARTTIME,1)-1) AS BIGINT),
															/* HOURS ADDED */
															DATEADD(HOUR,CAST
																			(SUBSTRING(CAST(CNFG.ESTIMATEDSTARTTIME AS VARCHAR),1,CHARINDEX(':',CNFG.ESTIMATEDSTARTTIME,1)-1) AS BIGINT),
															CAST(CONCAT(CAST(CAST(GETDATE() AS DATE) AS VARCHAR),' ','00',':','00',':','00') AS DATETIME)))) AS ESTIMATEDSTARTTIME,
												CNFG.DURATION,
																			/* ASSIGN NUMBERS TO WEEEK DAYS FROM SUNDAY TO SATURDAY FOR THE DAY VALUE COMING FROM CONFIGURATION */
												CASE WHEN CNFG.FREQUENCY = 'WEEKLY' AND UPPER(CNFG.DAY) = 'SUNDAY'
														  THEN 7
													 WHEN UPPER(CNFG.FREQUENCY) = 'WEEKLY' AND UPPER(CNFG.DAY) = 'MONDAY'
														  THEN 1
													 WHEN UPPER(CNFG.FREQUENCY) = 'WEEKLY' AND UPPER(CNFG.DAY) = 'TUESDAY'
														  THEN 2
													 WHEN UPPER(CNFG.FREQUENCY) = 'WEEKLY' AND UPPER(CNFG.DAY) = 'WEDNESDAY'
														  THEN 3
													 WHEN UPPER(CNFG.FREQUENCY) = 'WEEKLY' AND UPPER(CNFG.DAY) = 'THURSDAY'
														  THEN 4
													 WHEN UPPER(CNFG.FREQUENCY) = 'WEEKLY' AND UPPER(CNFG.DAY) = 'FRIDAY'
														  THEN 5
													 WHEN UPPER(CNFG.FREQUENCY) = 'WEEKLY' AND UPPER(CNFG.DAY) = 'SATURDAY'
														  THEN 6 ELSE 10 END DAY_VAL_CNFG,
												/* ASSIGN NUMBERS TO WEEEK DAYS FROM SUNDAY TO SATURDAY FOR THE CURRENTDATE */
												CASE WHEN  UPPER(DATENAME(DW,CAST(GETDATE() AS DATE))) = 'SUNDAY'
												 		  THEN 7
												WHEN  UPPER(DATENAME(DW,CAST(GETDATE() AS DATE))) = 'MONDAY'
														  THEN 1
												WHEN  UPPER(DATENAME(DW,CAST(GETDATE() AS DATE))) = 'TUESDAY'
														  THEN 2
												WHEN  UPPER(DATENAME(DW,CAST(GETDATE() AS DATE))) = 'WEDNESDAY'
														  THEN 3
												WHEN  UPPER(DATENAME(DW,CAST(GETDATE() AS DATE))) = 'THURSDAY'
														  THEN 4
												WHEN  UPPER(DATENAME(DW,CAST(GETDATE() AS DATE))) = 'FRIDAY'
														  THEN 5
												WHEN  UPPER(DATENAME(DW,CAST(GETDATE() AS DATE))) = 'SATURDAY'
														  THEN 6 ELSE 10 END DAY_VAL,
												
												CNFG.ESTIMATEDSTARTTIME AS ESTIME,
												TID.ACTUALSTARTTIME,
												
												/*ADDING HOUR TO THE ACTUAL START TIME FROM ACTUALDURATION COLUMN IN TIDAL TABLE*/
												CASE WHEN TID_END_JB.ACTUALSTARTTIME IS NULL THEN NULL 
												          ELSE
														DATEADD(DAY,CAST(SUBSTRING(TID_END_JB.ACTUALDURATION,1,charindex(':',TID_END_JB.ACTUALDURATION)-1) AS INT),
													    DATEADD(SECOND,CAST(SUBSTRING(TID_END_JB.ACTUALDURATION,LEN(TID_END_JB.ACTUALDURATION)-1,2) AS BIGINT),
														DATEADD(MINUTE,CAST(SUBSTRING(TID_END_JB.ACTUALDURATION,CHARINDEX(':',TID_END_JB.ACTUALDURATION,4)+1,(CHARINDEX(':',TID_END_JB.ACTUALDURATION,6)-1)-CHARINDEX(':',TID_END_JB.ACTUALDURATION,4)) AS BIGINT),DATEADD(HOUR,CAST(SUBSTRING(TID_END_JB.ACTUALDURATION,3,
														CHARINDEX(':',TID_END_JB.ACTUALDURATION,4)-3) AS BIGINT),TID_END_JB.ACTUALSTARTTIME)))) END AS ACTUALENDTIME,
												CURRENT_TIMESTAMP  AS SLT_LOADDATE_TIME,
												CAST(SUBSTRING(TID_END_JB.ACTUALDURATION,1,1) AS INT) AS DAY_ADD_VAL,
												TID_END_JB.ACTUALDURATION AD,

												CASE WHEN LEN(FREQ_CNFG.FREQ_DESC)>1 AND UPPER(CNFG.FREQUENCY) = 'MONTHLY' AND DAY(GETDATE()) <= FREQ_CNFG.FREQ_DT_VALUE
												  THEN
												CONVERT(DATE,
															CONCAT(CAST(MONTH(GETDATE()) AS VARCHAR),'-',FREQ_CNFG.FREQ_DT_VALUE,'-',CAST(YEAR(GETDATE()) AS VARCHAR)))
													 WHEN LEN(FREQ_CNFG.FREQ_DESC)>1 AND UPPER(CNFG.FREQUENCY) = 'MONTHLY' AND DAY(GETDATE()) > FREQ_CNFG.FREQ_DT_VALUE
												  THEN
												CONVERT(DATE,
															CONCAT(CAST(MONTH(GETDATE()) AS VARCHAR),'-',FREQ_CNFG_NXT.FREQ_DT_VALUE,'-',CAST(YEAR(GETDATE()) AS VARCHAR))) 
															ELSE '' END AS FREQ_DATE,
											    
												CASE WHEN UPPER(CNFG.FREQUENCY) = 'MONTHLY' AND LEN(CNFG.DAY) <= 5 AND SUBSTRING(CNFG.DAY,1,1) = 'C'
												THEN
												DATEADD(DAY,CAST(SUBSTRING(CNFG.DAY,3,LEN(CNFG.DAY)-2) AS INT),(SELECT TOP 1 CAL_MO_STRT_DT FROM dbo.D_CAL WHERE CAL_YR_NUM = DATEPART(YEAR,CAST(GETDATE() AS DATE)) 
												AND CAL_MO_NUM = DATEPART(MONTH,CAST(GETDATE() AS DATE))) )
												ELSE '' END 
												AS CALCU_C,
												
												CASE WHEN UPPER(CNFG.FREQUENCY) = 'MONTHLY' AND LEN(CNFG.DAY) <= 5 AND SUBSTRING(CNFG.DAY,1,1) = 'G'
												THEN
												DATEADD(DAY,CAST(SUBSTRING(CNFG.DAY,3,LEN(CNFG.DAY)-2) AS INT),cast(concat(cast(DATEPART(YEAR,CAST(GETDATE() AS DATE)) as varchar),'-',cast(DATEPART(month,CAST(GETDATE() AS DATE)) as varchar),'-','1') as date))
												ELSE '' END 
												AS CALCU_G,
												
												CASE WHEN UPPER(CNFG.FREQUENCY) = 'BI WEEKLY'  AND SUBSTRING(CNFG.DAY,1,1) = 'C' AND SUBSTRING(CNFG.DAY,CHARINDEX(',',[DAY])+1,1) = 'C'
															THEN
															  /*FINDING LAST MONTH CLOSURE DATE AND CONCATENATING THE DATES AFTER ADDING TO THE DAYS TO IT */
															  CONCAT(CAST(DATEADD(DAY,CAST(SUBSTRING(CNFG.DAY,3,CHARINDEX(',',CNFG.DAY)-3) AS INT),(SELECT TOP 1 CAL_MO_STRT_DT FROM dbo.D_CAL WHERE CAL_YR_NUM = DATEPART(YEAR,CAST(GETDATE() AS DATE)) 
																										AND CAL_MO_NUM = DATEPART(MONTH,CAST(GETDATE() AS DATE))) ) AS VARCHAR),',',CAST(DATEADD(DAY,CAST(SUBSTRING(DAY,CHARINDEX(',',DAY)+3,LEN(DAY)-CHARINDEX(',',DAY)+2) AS INT),(SELECT TOP 1 CAL_MO_STRT_DT FROM dbo.D_CAL WHERE CAL_YR_NUM = DATEPART(YEAR,CAST(GETDATE() AS DATE)) 
																										AND CAL_MO_NUM = DATEPART(MONTH,CAST(GETDATE() AS DATE))) ) AS VARCHAR))
														 WHEN UPPER(CNFG.FREQUENCY) = 'BI WEEKLY'  AND SUBSTRING(CNFG.DAY,1,1) = 'C' AND SUBSTRING(CNFG.DAY,CHARINDEX(',',[DAY])+1,1) = 'G'
															THEN
															  CONCAT(CAST(DATEADD(DAY,CAST(SUBSTRING(CNFG.DAY,3,CHARINDEX(',',CNFG.DAY)-3) AS INT),[dbo].[fnGetEstimatedStartDateFreq] () ) AS VARCHAR),',',CAST(DATEADD(DAY,CAST(SUBSTRING(DAY,CHARINDEX(',',DAY)+3,LEN(DAY)-CHARINDEX(',',DAY)+2) AS INT),cast(concat(cast(DATEPART(YEAR,CAST(GETDATE() AS DATE)) as varchar),'-',cast(DATEPART(month,CAST(GETDATE() AS DATE)) as varchar),'-','1') as date)) AS VARCHAR))

																										ELSE '' END BW_EDT,
												CNFG.Business_Deliverable,
												CNFG.RUN_DAY,
												CNFG.JOB_ID,
												ROW_NUMBER() OVER (PARTITION BY CNFG.START_JOB_GROUP,CNFG.START_JOB,CNFG.JOBNAME,CNFG.FREQUENCY ORDER BY TID.PRODUCTION_DATE DESC) RN

												/* Fetch the data from Master table SLT_APP_CONFIGURAITON */
												FROM [ASFRA-DEV].[dbo].[SLT_APP_CONFIGURATION] CNFG

												/* To fetch the ActualStartTime and Duration from the start job Record */
															
												LEFT JOIN [ASFRA-DEV].[dbo].[SLT_DATA] TID
												ON LTRIM(CNFG.START_JOB_GROUP) = LTRIM(TID.JOBGROUP)
											    AND LTRIM(CNFG.START_JOB) = LTRIM(TID.JOB) AND CNFG.APPID=TID.APPID 
												--AND CONVERT(VARCHAR,TID.PRODUCTION_DATE,101) >= CONVERT(VARCHAR,GETDATE()-1,101)
													AND CONVERT(VARCHAR,TID.PRODUCTION_DATE,101) = CONVERT(VARCHAR,GETDATE()+CNFG.PROD_DAY,101) --AND CONVERT(VARCHAR,GETDATE()-4,101)						
												
												/* To fetch the actualstarttime and duration from the end job Record */
															
												LEFT JOIN [ASFRA-DEV].[dbo].[SLT_DATA] TID_END_JB
												ON LTRIM(CNFG.END_JOB_GROUP) = LTRIM(TID_END_JB.JOBGROUP)
												AND LTRIM(CNFG.END_JOB) = LTRIM(TID_END_JB.JOB) 
												AND CNFG.APPID = TID_END_JB.APPID
												--AND CONVERT(VARCHAR,TID_END_JB.PRODUCTION_DATE,101) >= CONVERT(VARCHAR,GETDATE()-1,101) 
												
												-- MAKE CHANGE HERE
												
												AND CONVERT(VARCHAR,TID_END_JB.PRODUCTION_DATE,101) = CONVERT(VARCHAR,GETDATE()+CNFG.PROD_DAY,101) --AND CONVERT(VARCHAR,GETDATE()-4,101)				
												/* To fetch the Frequency Description from the Freq_Config table */										
															
												LEFT JOIN [ASFRA-DEV].[dbo].[FREQUENCY_CONFIGURATION] FREQ_CNFG
												ON CNFG.APPID = FREQ_CNFG.APPID
												AND CNFG.DAY_1=FREQ_CNFG.FREQ_DESC
												AND MONTH(GETDATE()) = FREQ_CNFG.MONTH 
												AND YEAR(GETDATE()) = FREQ_CNFG.YEAR
												
												LEFT JOIN [ASFRA-DEV].[dbo].[FREQUENCY_CONFIGURATION] FREQ_CNFG_NXT
												ON CNFG.APPID = FREQ_CNFG_NXT.APPID
												AND CNFG.DAY_1=FREQ_CNFG_NXT.FREQ_DESC
												AND MONTH(GETDATE())+1 = FREQ_CNFG_NXT.MONTH 
												AND YEAR(GETDATE()) = FREQ_CNFG_NXT.YEAR

											WHERE 											
												CNFG.APPID = @APPID
									
								)DRVD WHERE DRVD.RN = 1
				) FNL ORDER BY FNL.JOB_ID 



-----------------------------------------------------------------------------------------

-- Proceed further only if new details from TIDAL is available
IF EXISTS (SELECT 1 FROM #INTER_DATA)
BEGIN	
-----------------------------------------------------------------------------------------

	-- Insert the latest data from ASOE into Variance table	
	INSERT dbo.HIST_SLT_DATA
	(APPID, 
	SOURCE_NAME,
	CATEGORY,
	FREQUENCY,
	STATUS,
	SLT_STATUS,
	ESTIMATEDSTARTTIME,
	ESTIMATEDENDTIME,
	ACTUALSTARTTIME,
	ACTUALENDTIME,
	SLT_LOADDATE_TIME,
	BUSINESS_DELIVERABLE)	
	SELECT
		APPID,
		JOBNAME,
		CATEGORY,
		FREQUENCY,
		CASE WHEN ACTUALENDTIME IS NULL THEN NULL ELSE
		STATUS END AS STATUS,
		CASE WHEN ESTIMATEDENDTIME < ACTUALENDTIME 
		THEN 'NOT MET'
		WHEN ESTIMATEDENDTIME >= ACTUALENDTIME AND STATUS IN ('Completed Normally', 'Succeeded', 'Delivered')
		THEN 'MET'
		WHEN ESTIMATEDENDTIME >= ACTUALENDTIME AND STATUS NOT IN ('Completed Normally', 'Succeeded', 'Delivered') AND ESTIMATEDENDTIME > GETDATE() 
		THEN 'WIP'
		WHEN ESTIMATEDENDTIME >= ACTUALENDTIME AND STATUS NOT IN ('Completed Normally', 'Succeeded', 'Delivered') AND ESTIMATEDENDTIME <= GETDATE() 
		THEN 'NOT MET'
		WHEN @AppID = 5 AND UPPER(FREQUENCY) = 'WEEKLY' AND ESTIMATEDENDTIME < ACTUALENDTIME
		THEN 'NOT MET'
		WHEN @AppID = 8 AND UPPER(FREQUENCY) = 'WEEKLY' AND ESTIMATEDENDTIME < ACTUALENDTIME
		THEN 'NOT MET'
		WHEN @AppID = 5 AND UPPER(FREQUENCY) = 'WEEKLY' AND ESTIMATEDENDTIME >= ACTUALENDTIME AND STATUS IN ('Completed Normally', 'Succeeded', 'Delivered')
		THEN 'MET'
		WHEN @AppID = 5 AND UPPER(FREQUENCY) = 'WEEKLY' AND ESTIMATEDENDTIME >= ACTUALENDTIME AND STATUS NOT IN ('Completed Normally', 'Succeeded', 'Delivered') AND ESTIMATEDENDTIME > GETDATE()
		THEN 'WIP'
		WHEN @AppID = 5 AND UPPER(FREQUENCY) = 'WEEKLY' AND ESTIMATEDENDTIME >= ACTUALENDTIME AND STATUS NOT IN ('Completed Normally', 'Succeeded', 'Delivered') AND ESTIMATEDENDTIME <= GETDATE()
		THEN 'NOT MET'
		WHEN @AppID = 8 AND UPPER(FREQUENCY) = 'WEEKLY' AND ESTIMATEDENDTIME >= ACTUALENDTIME AND STATUS IN ('Completed Normally', 'Succeeded', 'Delivered')
		THEN 'MET'
		WHEN @AppID = 8 AND UPPER(FREQUENCY) = 'WEEKLY' AND ESTIMATEDENDTIME >= ACTUALENDTIME AND STATUS NOT IN ('Completed Normally', 'Succeeded', 'Delivered') AND ESTIMATEDENDTIME > GETDATE()
		THEN 'WIP'
		WHEN @AppID = 8 AND UPPER(FREQUENCY) = 'WEEKLY' AND ESTIMATEDENDTIME >= ACTUALENDTIME AND STATUS NOT IN ('Completed Normally', 'Succeeded', 'Delivered') AND ESTIMATEDENDTIME <= GETDATE()
		THEN 'NOT MET'
		WHEN ACTUALENDTIME IS NULL AND ACTUALSTARTTIME IS NOT NULL AND STATUS NOT IN ('Completed Normally', 'Succeeded', 'Delivered') AND ESTIMATEDENDTIME > GETDATE()
		THEN 'WIP'
		WHEN (ACTUALSTARTTIME IS NULL OR ACTUALENDTIME IS NULL) AND (STATUS  NOT IN ('Completed Normally', 'Succeeded', 'Delivered')) AND ESTIMATEDENDTIME <= GETDATE()
		THEN 'NOT MET'
		WHEN UPPER(FREQUENCY) = 'WEEKDAY'  AND (UPPER(DATENAME(DW,CAST(GETDATE() AS DATE)))) IN ('SUNDAY','MONDAY')
		THEN 'NA'
		WHEN UPPER(FREQUENCY) = 'WEEKEND'  AND (UPPER(DATENAME(DW,CAST(GETDATE() AS DATE)))) NOT  IN ('SUNDAY','MONDAY')
		THEN 'NA'
		
		WHEN CAST(ESTIMATEDENDTIME AS DATE) <> CAST(GETDATE() AS DATE) AND UPPER(FREQUENCY) NOT IN  ('DAILY','WEEKEND','WEEKDAY')
		THEN
		'NA'
		WHEN ACTUALSTARTTIME IS NULL
		OR ACTUALENDTIME IS NULL THEN NULL ELSE 'MET' END AS SLT_STATUS,
		ESTIMATEDSTARTTIME,
		ESTIMATEDENDTIME,
		ACTUALSTARTTIME,
		ACTUALENDTIME,
		SLT_LOADDATE_TIME,
		BUSINESS_DELIVERABLE
	FROM #INTER_DATA
	ORDER BY JOB_ID DESC
	
	END
	END -- End of Procedure










